<section class="example-container mat-elevation-z0" tabindex="0">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

    <!-- Name Column -->
    <ng-container *ngFor="let field of displayedColumns" [matColumnDef]="field">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [sortActionDescription]="'Sort by '+ field" sticky>
        {{field}} </th>
      <td class="cursor-pointer " mat-cell *matCellDef="let element">
        <ng-container *ngIf="!['NAME','STATE'].includes(field)">
          <span class="text-xs uppercase tracking-widest font-medium text-slate-500 pr-2">
            {{element[field]}}
          </span>
        </ng-container>
        <ng-container *ngIf="field === 'NAME'">
          <span class="text-xs uppercase tracking-widest font-medium text-primary pr-2">
            {{element[field]}}
          </span>
        </ng-container>
        <ng-container *ngIf="field === 'STATE'">
       
         <mat-icon class=""  *ngIf="element._STATE === 'PAUSED'" svgIcon="mat_solid:play_arrow"></mat-icon>
         <mat-icon   *ngIf="element._STATE === 'STOPPED'" svgIcon="mat_solid:pause"></mat-icon>
         <mat-icon *ngIf="element._STATE === 'ON'" svgIcon="mat_solid:stop"></mat-icon>
       
        </ng-container>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
  </table>
</section>