<div class="flex flex-col flex-auto min-w-0 bg-white">

  <!-- Main -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">

    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
        Defects
    </h2>
  </div>
  <div class="flex-auto ">
      <!-- CONTENT GOES HERE -->
          <div>
              <ng-container *ngIf="(defects$ | async).defects as defects">
                <table-filtering-example [data] = "defects"></table-filtering-example>
              </ng-container>
          </div>
         


  </div>

</div>



